* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* common class  */

/* common class  */

/* navbar  */
.head {
  height: 5vh;
  background-color: rgb(214, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.head p {
  color: rgb(141, 140, 140);
}

.container {
  margin: 0 3vw;
}
nav .main-nav {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left {
  width: 22vw;
}
.nav-left h1 a{
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.nav-mid{
  width: 50vw;
}
.nav-mid ul{
  display: flex;
justify-content: space-evenly;
}
.nav-mid ul{
  list-style: none;
}
.nav-mid ul li a{
  text-transform: capitalize;
font-size: 1.4rem;
color: rgb(160, 160, 160);
}
.nav-mid ul li a:hover{
color: rgb(100, 100, 100);
}
.nav-right {
  width: 28vw;
}
.nav-right ul{
  display: flex;
  justify-content: right;
}
.nav-right ul li{
  list-style: none;
  margin: 0 15px;
}
.nav-right ul li a{
  text-transform: capitalize;
font-size: 1.4rem;
color: rgb(160, 160, 160);
}
.nav-right ul li a .fa-solid{
  color: black;
}
/* navbar  */

/* hero section  */
.hero{
  height: 110vh;
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
}

/* hero section  */

/* OUR BEST SELLER  */
.seller {
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.view {
  text-decoration: none;
  color: black;
  float: right;
  margin-top: -4.5rem;
  margin-right: 10rem;
}
.all {
  color: black;
  letter-spacing: 3px;
  border: 2px solid yellow;
  border-top: none;
  border-left: none;
  border-right: none;
}
.our {
  display: flex;
  margin-left: 120px;
}
.img {
  height: 383px;
  margin-left: 38px;
}
.sale {
  background-color: rgb(77, 167, 77);
  border-radius: 50%;
  width: 35px;
  height: 30px;
  padding: 9px 3px 3px 7px;
  color: white;
  margin-left: 368px;
  position: absolute;
  margin-top: -396px;
}
a {
  text-decoration: none;
}
.quick {
  color: lavenderblush;
  width: 223px;
  height: 21px;
  margin-top: -30px;
  margin-left: 39px;
  padding-left: 158px;
  position: absolute;
  padding-top: 5px;
}
.quick:hover {
  background-color: black;
  color: white;
}
.ton {
  margin-left: 127px;
}
.dollor {
  color: darkgray;
  margin-left: 168px;
  margin-top: -10px;
}
.o {
  display: flex;
  margin-left: 120px;
}
.star {
  margin-left: 158px;
  margin-bottom: 15px;
}
/* OUR BEST SELLER  */
